.selected {
  text-decoration: line-through;
  font-size: xx-large;
  margin-left: 2%;
  font-weight: bold;
}

.non-selected {
  font-size: xx-large;
  margin-left: 2%;
  font-weight: bold;
  cursor: pointer;
}

.high-score {
  color: rgb(8, 255, 8)
}

.medium-score {
  color: yellow
}

.low-score {
  color: red
}

h4 {
 color: brown;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

.solution {
  font-size: xx-large;
}

h5 {
  margin-bottom: 3%;
}

.win {
  color: blue;
}

.loose {
  color: red;
}
